@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}


.background {
    -fx-background-color: white;
}

.navbar {
    -fx-background-color: #cf152d;
}

.navbutton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 16px;
}

.navbutton:hover {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,15), 5,0,0,0);
}

.right-sidebar {
    -fx-border-color: #595959;
    -fx-border-width: 2px;
    -fx-background-color: #eeeeee;
}

.right-sidebar-labels {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #cf152d;
    -fx-font-weight: 700;
}

.order-infobar {
    -fx-background-color: #595959;
    -fx-border-color: #595959;
    -fx-border-width: 2px;
}


.proceed-button {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
}

.proceed-button:hover {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,15), 5,0,0,0);
}

.cancel-button {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-color: white;
    -fx-text-fill: #cf152d;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
}

.cancel-button:hover {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-color: white;
    -fx-text-fill: #cf152d;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,15), 5,0,0,0);
}

.order-table-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.order-table-view .column-header .label {
    -fx-text-fill: #cf152d;
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.food-category-button {
    -fx-border-color: #cf152d;
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
    -fx-text-fill: #cf152d;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 70px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-background-radius: 8px;
}

.food-category-button:hover {
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
}

.food-category-button:selected {
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
}

.menu-item-button {
    -fx-border-color: #cf152d;
    -fx-border-radius: 8px;
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 140px;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-background-radius: 8px;
}

.menu-item-label {
    -fx-text-fill: white;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-opacity: 1;
}

.close-button {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,15), 5,0,0,0);
}

.add-button {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-cursor: hand;
    
}

.add-button:hover {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-background-color: #cf152d;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,15), 5,0,0,0);
}

.item-customization-labels {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: #cf152d;
    -fx-font-weight: 700;
}

.item-customization-buttons {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-background-color: #595959;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.item-customization-buttons:hover {
    -fx-background-color: #cf152d;
}

.item-customization-buttons:selected {
    -fx-background-color: #cf152d;
}